@model ConferenceDomain.Model.SignUp

@{
    ViewData["Title"] = "Delete";
}

<h1>Скасування реєстрації</h1>

<h3>Ви впевнені, що хочете скасувати реєстрацію на дану конференцію?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.Name) |
            @Html.DisplayFor(model => model.Conference.Topic.Name) |
            @Html.DisplayFor(model => model.Conference.Info) |
            @Html.DisplayFor(model => model.Conference.Cost) |
            @Html.DisplayFor(model => model.Conference.DateTime) |
            @Html.DisplayFor(model => model.Conference.Duration) |
            @Html.DisplayFor(model => model.Conference.Organizer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Login)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Скасувати реєстрацію" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до списку</a>
    </form>
</div>
